@keyframes squigglevision {
  0% {
    filter: url("#turbulence-1");
  }

  25% {
    filter: url("#turbulence-2");
  }

  50% {
    filter: url("#turbulence-3");
  }

  75% {
    filter: url("#turbulence-4");
  }

  100% {
    filter: url("#turbulence-5");
  }
}

.incridea:hover {
  @apply grayscale-0;
  animation: squigglevision 0.4s infinite alternate;
}

.incridea {
  @apply object-cover object-center cursor-default grayscale;
}