@tailwind base;
@tailwind components;
@tailwind utilities;

/* Form autofill styling */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  background-clip: text;
  -webkit-background-clip: text;
  /* text-accent-200 */
  -webkit-text-fill-color: #cfeff7;
  transition: background-color 5000s ease-in-out 0s;
  /* transparent */
  box-shadow: inset 0 0 20px 20px #ffffff00;
}

body {
  width: 100vw;
  overflow-x: hidden;
}

.remove-scrolling {
  height: 100%;
  overflow: hidden;
}

/* create a youtube-like scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  @apply bg-gray-800;
  @apply rounded;
}
::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-gray-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

/* Markdown Rendering styles */
.rendered-markdown h1 {
  @apply text-3xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h4 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h5 {
  @apply text-base;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h6 {
  @apply text-sm;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown p {
  @apply mb-4;
}

.rendered-markdown ul {
  @apply list-disc;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown ol {
  @apply list-decimal;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown li {
  @apply mb-2;
}

.rendered-markdown a {
  @apply text-blue-500;
  @apply underline;
}

.rendered-markdown blockquote {
  @apply border-l-4;
  @apply border-gray-400;
  @apply pl-4;
  @apply italic;
  @apply mb-4;
}

.rendered-markdown code {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-1;
  @apply rounded;
}

.rendered-markdown pre {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply mb-4;
}

.rendered-markdown table {
  @apply border-collapse;
  @apply border border-gray-400;
  @apply mb-4;
}

.rendered-markdown th {
  @apply border border-gray-400;
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
}

.rendered-markdown td {
  @apply border border-gray-400;
  @apply px-4;
  @apply py-2;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-bg {
  background: linear-gradient(
    -170deg,
    #a5b4fc,
    #818cf8,
    #22d3ee,
    #fefce8,
    #fff,
    #fff
  );
}

/* Workaround for disappearing elements (scope: locomotive scroll) */
.has-scroll-smooth {
  position: fixed;
  inset: 0;
}

.outline-text {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

/* .titleFont {
  font-family: "Roboto Slab", cursive;
} */

.bodyFont {
  font-family: "arvo", sans-serif;
}

.event-description * {
  font-family: "arvo", sans-serif !important;
}

.pressStart {
  font-family: "Press_Start_2P", system-ui;
}

.vikingHell {
  font-family: "VikingHell", system-ui;
}

.black-ops {
  font-family: "Black Ops One", system-ui;
  font-style: italic;
}

@keyframes fly-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-up-down {
  animation: fly-up-down 1.5s ease-in-out infinite;
}

/* font sizes */
.title {
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply font-bold;
}

.heading {
  @apply text-lg md:text-xl lg:text-2xl;
  @apply font-bold;
}

.subheading {
  @apply text-base md:text-lg lg:text-xl;
  /* @apply font-bold; */
}

.body {
  @apply text-sm md:text-base lg:text-lg;
}

.caption {
  @apply text-xs md:text-sm lg:text-base;
  @apply tracking-wider;
}

/* layout */
.page-container {
  @apply max-w-screen-2xl;
  @apply mx-auto;
  @apply p-4 md:p-12;
}

.swiper-slide-thumb-active {
  opacity: 1;
  scale: 130%;
  height: 20vh;
  z-index: 100000;
  transition: all 4000ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* fog */
.fogwrapper {
  z-index: 1020;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
  filter: blur(1px) grayscale(0.2) saturate(1.2) sepia(0.2);
}
#foglayer_01,
#foglayer_02,
#foglayer_03 {
  height: 100%;
  position: absolute;
  width: 200%;
}
#foglayer_01 .image01,
#foglayer_01 .image02,
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  float: left;
  height: 100%;
  width: 50%;
}
#foglayer_01 {
  -webkit-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  -moz-animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
  animation: foglayer_01_opacity 10s linear infinite,
    foglayer_moveme 15s linear infinite;
}
#foglayer_02,
#foglayer_03 {
  -webkit-animation: foglayer_02_opacity 10s linear infinite,
    foglayer_moveme 13s linear infinite;
  -moz-animation: foglayer_02_opacity 10s linear infinite,
    foglayer_moveme 13s linear infinite;
  animation: foglayer_02_opacity 10s linear infinite,
    foglayer_moveme 13s linear infinite;
}

/* ---------- Moving Fog ---------- */
/*
  'size: cover' || 'size: 100%'; results remain the same
  'attachment: scroll' can be added or removed; results remain the same
  'attachment: fixed' causing unexpected results in Chrome
  'repeat-x' || 'no-repeat'; results remain the same
*/
#foglayer_01 .image01,
#foglayer_01 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog1.png")
    center center/cover no-repeat transparent;
}
#foglayer_02 .image01,
#foglayer_02 .image02,
#foglayer_03 .image01,
#foglayer_03 .image02 {
  background: url("https://raw.githubusercontent.com/danielstuart14/CSS_FOG_ANIMATION/master/fog2.png")
    center center/cover no-repeat transparent;
}

/* ---------- Keyframe Layer 1 ---------- */
@-webkit-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.38;
  }
  58% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.26;
  }
  100% {
    opacity: 0.1;
  }
}
@-moz-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.38;
  }
  58% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.26;
  }
  100% {
    opacity: 0.1;
  }
}
@-o-keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.38;
  }
  58% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.26;
  }
  100% {
    opacity: 0.1;
  }
}
@keyframes foglayer_01_opacity {
  0% {
    opacity: 0.1;
  }
  22% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.38;
  }
  58% {
    opacity: 0.5;
  }
  80% {
    opacity: 0.26;
  }
  100% {
    opacity: 0.1;
  }
}
/* ---------- Keyframe Layer 2 ---------- */
@-webkit-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.55;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.55;
  }
}
@-moz-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@-o-keyframes foglayer_02_opacity {
  0% {
    opacity: 0.5;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.1;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes foglayer_02_opacity {
  0% {
    opacity: 0.55;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.15;
  }
  80% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.55;
  }
}
/* ---------- Keyframe Layer 3 ---------- */
@-webkit-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-moz-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@-o-keyframes foglayer_03_opacity {
  0% {
    opacity: 0.8;
  }
  27% {
    opacity: 0.2;
  }
  52% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.8;
  }
}
@keyframes foglayer_03_opacity {
  0% {
    opacity: 0.85;
  }
  27% {
    opacity: 0.25;
  }
  52% {
    opacity: 0.65;
  }
  68% {
    opacity: 0.35;
  }
  100% {
    opacity: 0.85;
  }
}
/* ---------- Keyframe moveMe ---------- */
@-webkit-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-moz-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@-o-keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
@keyframes foglayer_moveme {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@media only screen and (min-width: 280px) and (max-width: 767px) {
  #foglayer_01 .image01,
  #foglayer_01 .image02,
  #foglayer_02 .image01,
  #foglayer_02 .image02,
  #foglayer_03 .image01,
  #foglayer_03 .image02 {
    width: 100%;
  }
}

.titleFont {
  @apply !font-VikingHell;
}
