@tailwind base;
@tailwind components;
@tailwind utilities;

/* create a youtube-like scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  @apply bg-gray-800;
  @apply rounded;
}
::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-gray-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

.rendered-markdown h1 {
  @apply text-3xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h4 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h5 {
  @apply text-base;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h6 {
  @apply text-sm;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown p {
  @apply mb-4;
}

.rendered-markdown ul {
  @apply list-disc;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown ol {
  @apply list-decimal;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown li {
  @apply mb-2;
}

.rendered-markdown a {
  @apply text-blue-500;
  @apply underline;
}

.rendered-markdown blockquote {
  @apply border-l-4;
  @apply border-gray-400;
  @apply pl-4;
  @apply italic;
  @apply mb-4;
}

.rendered-markdown code {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-1;
  @apply rounded;
}

.rendered-markdown pre {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply mb-4;
}

.rendered-markdown table {
  @apply border-collapse;
  @apply border border-gray-400;
  @apply mb-4;
}

.rendered-markdown th {
  @apply border border-gray-400;
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
}

.rendered-markdown td {
  @apply border border-gray-400;
  @apply px-4;
  @apply py-2;
}


.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

@keyframes scroll {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

.animate {
  animation: scroll 15s linear infinite;
}

.neonText {
  /* color: #000000; */
  text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #e600ff,
    0 0 82px #e600ff,
    0 0 92px #e600ff,
    0 0 102px #e600ff;
}

.neonBorder{
  box-shadow: 0 0 .2rem #fff,
            0 0 .2rem #fff,
            0 0 2rem #13fef2,
            0 0 0.8rem #13fef2,
            inset 0 0 1.3rem #13fef2; 
}
.clip-div{
  border: 150px solid transparent;
  border-bottom: 0;
  border-top: 250px solid #110141;
  filter:drop-shadow(0 0  0.5rem #fff);
}
.img-shadow{
  filter:drop-shadow(0 0 0.5rem #fff);
}

.scroll-section-outer {
  overflow: hidden;
}

.scroll-section-inner {
  height: 100vh;
  width: 400vw;
  display: flex;
  flex-direction: row;
  position: relative;
}

/* .scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
} */