@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* create a youtube-like scrollbar */
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  @apply bg-gray-800;
  @apply rounded;
}
::-webkit-scrollbar-thumb {
  @apply rounded;
  @apply bg-gray-400;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300;
}

/* Markdown Rendering styles */
.rendered-markdown h1 {
  @apply text-3xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h2 {
  @apply text-2xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h3 {
  @apply text-xl;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h4 {
  @apply text-lg;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h5 {
  @apply text-base;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown h6 {
  @apply text-sm;
  @apply font-bold;
  @apply mb-4;
}

.rendered-markdown p {
  @apply mb-4;
}

.rendered-markdown ul {
  @apply list-disc;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown ol {
  @apply list-decimal;
  @apply list-inside;
  @apply mb-4;
}

.rendered-markdown li {
  @apply mb-2;
}

.rendered-markdown a {
  @apply text-blue-500;
  @apply underline;
}

.rendered-markdown blockquote {
  @apply border-l-4;
  @apply border-gray-400;
  @apply pl-4;
  @apply italic;
  @apply mb-4;
}

.rendered-markdown code {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-1;
  @apply rounded;
}

.rendered-markdown pre {
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
  @apply rounded;
  @apply mb-4;
}

.rendered-markdown table {
  @apply border-collapse;
  @apply border border-gray-400;
  @apply mb-4;
}

.rendered-markdown th {
  @apply border border-gray-400;
  @apply bg-gray-800;
  @apply text-gray-200;
  @apply px-4;
  @apply py-2;
}

.rendered-markdown td {
  @apply border border-gray-400;
  @apply px-4;
  @apply py-2;
}

.scroll-hide::-webkit-scrollbar {
  display: none;
}

.scroll-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.gradient-bg {
  background: linear-gradient(
    -170deg,
    #a5b4fc,
    #818cf8,
    #22d3ee,
    #fefce8,
    #fff,
    #fff
  );
}

/* Workaround for disappearing elements (scope: locomotive scroll) */
.has-scroll-smooth {
  position: fixed;
  inset: 0;
}

.outline-text {
  -webkit-text-stroke: 2px white;
  -webkit-text-fill-color: transparent;
}

.titleFont {
  font-family: "Trade Winds", cursive;
}

.bodyFont {
  font-family: "Montserrat", sans-serif;
}

.event-description * {
  font-family: "Montserrat", sans-serif !important;
}

.pressStart {
  font-family: "Press Start 2P", system-ui;
}

@keyframes fly-up-down {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

.fly-up-down {
  animation: fly-up-down 1.5s ease-in-out infinite;
}

/* font sizes */
.title {
  @apply text-xl md:text-2xl lg:text-3xl;
  @apply font-bold;
}

.heading {
  @apply text-lg md:text-xl lg:text-2xl;
  @apply font-bold;
}

.subheading {
  @apply text-base md:text-lg lg:text-xl;
  /* @apply font-bold; */
}

.body {
  @apply text-sm md:text-base lg:text-lg;
}

.caption {
  @apply text-xs md:text-sm lg:text-base;
  @apply tracking-wider;
}

/* layout */
.page-container {
  @apply max-w-screen-2xl;
  @apply mx-auto;
  @apply p-4 md:p-12;
}

.swiper-slide-thumb-active {
  opacity: 1;
  scale: 130%;
  height: 20vh;
  z-index: 100000;
  transition: all 4000ms ease-in-out;
}


/* .swiper-horizontal > .swiper-pagination-progressbar {
  width: 60% !important;
  top: 20vw !important;
  left: 20vw !important;
} */
