.annotation {
  cursor: pointer;
  outline: none;
  border: none;
  font-size: 8px;
  font-weight: 300;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  animation: infinite 1.5s ease-in-out identifier;
  width: max-content;
}

@keyframes identifier {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.levelButton {
  cursor: pointer;
  outline: none;
  border: none;
  /* font-size: 8px; */
  /* font-weight: 300; */
  /* font-family: var(--font-shojimaru); */
  background: rgba(0, 0, 0, 1);
  color: #fff;
  padding: 4px 8px;
  border-radius: 20px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.2s ease-in-out;
  animation: infinite 1.5s ease-in-out identifier;
  width: max-content;
}
