
.wrapper {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.wrapper .icons {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}

.wrapper .icons:active {
  transform: translateY(-50%) scale(0.85);
}

.wrapper .icons:first-child {
  left: -22px;
}

.wrapper .icons:last-child {
  right: -22px;
}

.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  transition: transform 0.3s ease; /* Added transition property */
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel.no-transition {
  scroll-behavior: auto;
}

.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}

.carousel.dragging .card1 {
  user-select: none;
}

.carousel :where(.card1, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel .card1 {
  scroll-snap-align: start;
  height: 270px;
  list-style: none;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
  transition: transform 0.9s ease; /* Added transition property */
}

.carousel .card1 .img {
  height: 148px;
  width: 148px;
  border-radius: 50%;
}

.card1 .img img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
}

.image_container {
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, filter 0.1s ease-out;
}

.active {
  transform: scale(1.2);
  opacity: 1;
  filter: grayscale(0%); 
}

.image_container:not(.active) {
    transform: scale(0.8);
  opacity: 0.2;
  filter: grayscale(100%); 
}
