.progress-bar {
  position: absolute;
  bottom: 5vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.progress-step {
  width: 2vw;
  height: 2vw;
  background-color: #ccc; /* Default color for unfilled steps */
  border-radius: 50%;
  position: relative;
}

@media (max-width: 800px) {
  .progress-step {
    width: 8vw;
    height: 8vw;
  }
}

.filled {
  background-color: #3f51b5 !important; /* Color for filled steps */
}

.svg-art {
  position: absolute;
  top: -50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
