/* Carousel.css */
.carousel_container {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-width: 1100px;
}

.swiper_slide {
  transition: transform 0.3s, filter 0.3s;
  width: 80%;
}

.swiper_slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.5s ease-in-out;
}

.swiper_slide.active img {
  transform: scale(1);

  opacity: 1;
  filter: grayscale(0%);
}

.swiper_slide:not(.active) img {
  transform: scale(0.6);
  opacity: 0.6;
  filter: grayscale(100%);
}

.swiper_button_next,
.swiper_button_prev {
  position: absolute;
  bottom: 70px; /* Adjust the distance from the bottom */
  width: 70px;
  height: 70px;
  background-color: #D6007D; /* Button background color */
  color: #fff; /* Button text color */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

/* .swiper_button_next {
bottom: 1%;
}

.swiper_button_prev {
  bottom: 1%;
} */
